<ion-view view-title="Search">
  <ion-content overflow-scroll="true" ng-controller="artistSearch">
    <div class="search">
      <div class="background-image" style="background-image: url('img/background.jpg')"></div>
      <div class="row" ng-show="error != ''">
        <div class="col">
          <span class="assertive">{{error}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input ng-model="artistName"
              ng-enter="findSongs()"
              ng-keyup="liveSearch($event)"
              type="text"
              placeholder="artist name" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="list">
            <a class="item item-thumbnail-left" ui-sref="result({mbid: artist.mbid})" ng-repeat="artist in liveSearchData">
              <img ng-src="{{artist.image}}">
              <h2>{{artist.name}}</h2>
              <p>{{artist.listeners}} listeners</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>